<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
  .template-404.page-width.page-margin{
    margin-top:7%; 
  }
    .dark--true .template-404 .button:hover{
      background-color:#ffffff; 
      color:#000000; 
    }
     .dark--true .template-404 .button:after{ display:none; }
  .dark--true .template-404 .button{
    font-family: var(--font-heading-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    background:transparent;
    border:1px solid; 
    color:#fff; 
    border-radius:0; 
    text-transform: uppercase;
    transition:all 0.3s linear; 
    padding:0 20px; 
  }
</style>

<div class="template-404 page-width page-margin center">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
