.event-banner .banner__box .banner__heading+* {
  margin-top: 15px;
}
.event-banner .banner__box>*+.banner__buttons {
  margin-top: 40px;
}
.event-banner .banner__box {
  max-width: 600px;
}

@media screen and (min-width: 750px){
  .event-banner .banner--desktop-transparent .banner__box{
    padding: 0;
    /* max-width: 520px !important; */
  }
}
@media screen and (max-width: 749px){
  .event-banner .banner__box{
    padding: 30px 20px;
  }
  .event-banner .banner__content{
    align-items: flex-end;
  }
  .event-banner .banner__buttons{
    max-width: 100%;
    width: 100%;
  }
  .event-banner .banner__buttons .button{
    width: 100%;
  }
}