.section-studio-classes {
    background: #000;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}
.studio-content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.studio-content > * {
    max-width: 33.33%;
    margin: 0;
}
@media only screen and (max-width: 1299px) {
    .studio-content > * {
        max-width: 50%;
    }
}
@media only screen and (max-width: 1199px) {
    .studio-content { flex-direction: column;}
    .studio-content > * {
        max-width: 100%;
    }
}
@media only screen and (max-width: 749px) {
    .studio-content p.description {
        display: none;
    }
}