.memberships-cards {
    background: #000;
    padding: 160px 0 132px;
}
.memberships-cards .heading-wrapper {
    text-align: center;
    padding: 0 25%;
    margin-bottom: 60px;
}
.membership-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.card-wrap {
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: -5px -5px 60px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    display: flex;
    padding: 60px 40px 40px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}
.card-wrap p.description {
    font-size: 16px;
    margin: 12px 0 0;
}
.price-wrappper {
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.price {
    display: flex;
    gap: 8px;
}
.benefits-list ul {
    color: #fff;
    padding-left: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.benefits-list ul li {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.available-membership {
    display: flex;
    gap: 12px;
    align-items: center;
}
.available-membership div > span {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
}
.available-membership div > span.total {color: rgba(255, 255, 255, 0.40);}