.hero-banner-1 { position: relative; z-index: 2;}
.hero-banner-1 .image figure {
    margin: 0;
    position: relative;
    line-height: 0;
}
.hero-banner-1 .image {
    width: 100%;
}
.hero-banner-1::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.90) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);
    content: "";
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
.hero-banner-1 .banner-content {
    position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 100%;
    z-index: 2;
}
.hero-banner-1 .banner-content.opacity-0 {
    visibility: hidden;
    opacity: 0;
}
.hero-banner-1 .banner-content > * {
    flex-basis: 42%;
}
.hero-banner-1 .banner-date {
    align-items: self-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.hero-banner-1 .dynamic-background { position: relative; }
.hero-banner-1 .dynamic-background::after {
    content: "";
    position: absolute;
    width: 50.70197916666667vw;
    height: 39.49885416666667vw;
    background: radial-gradient(50% 50% at 50% 50%, #FF4F86 0%, #FF8AC1 80%);
    opacity: 0.3;
    filter: blur(125px);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -220%;
    transform: rotate(163.783deg);
    right: -32%;
    z-index: -1;
    pointer-events: none;
}
.hero-banner-1 .countdown-timer ul {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}  
.hero-banner-1 .countdown-timer li {
    position: relative;
    padding: 0 17px;
    text-align: center;
}
.hero-banner-1 .countdown-timer li:last-child {
    padding-right: 0;
}
.hero-banner-1 .countdown-timer li::after {
    content: ":";
    position: absolute;
    left: auto;
    right: -6px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 50px;
    font-weight: 500;
    line-height: 100%;
    color: #ffffff;
    height: 50px;
}
.hero-banner-1 .countdown-timer li:last-child:after {
    display: none;
}
.hero-banner-1 .countdown-timer li > span {
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -5px -5px 15px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(4px);
    display: flex;
    padding: 16px 20px;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}
.hero-banner-1 .countdown-timer span.number {
    color: #FFF;
    text-align: center;
    font-family: var(--font-heading-family);
    font-size: 60px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
}
.hero-banner-1 span.text {
    color: #FFF;
    text-align: center;
    font-family: var(--font-heading-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}
.hero-banner-1 .banner-button {
    margin-top: 40px;
}
.hero-banner-1 a.cta {
    border-bottom: 1.5px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    color: var(--White, #FFF);
    font-family: var(--font-heading-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.hero-banner-1 a.cta:hover {
    border-color: #FEE4B1;
}
@media only screen and (max-width: 1300px) {
    .hero-banner-1 .banner-content > * {
        flex-basis: 50%;
    }
}
@media only screen and (max-width: 1250px) {
    .hero-banner-1 .countdown-timer span.number {
        font-size: 40px;
    }
}
@media only screen and (max-width: 989px) {
    .hero-banner-1 .desktop-img { display: none; }
    .hero-banner-1 .mobile-img { display: block; }
    .hero-banner-1 .countdown-timer li {
        padding: 0 12px;
    }
    .hero-banner-1 .countdown-timer li > span {
        padding: 16px 20px;
    }
    .hero-banner-1 .banner-content {
        flex-direction: column;
        gap: 50px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .hero-banner-1 .banner-content > * {
        flex-basis: auto;
    }
    .hero-banner-1 .image figure {
        height: 100%;
    }
    .hero-banner-1 .banner-date {
        align-items: center;
        justify-content: center;
    }
    .hero-banner-1 .dynamic-background::after {
        content: "";
        background: radial-gradient(50% 50% at 50% 50%, #FF4F86 0%, #FF8AC1 80%);
        opacity: 0.3;
        filter: blur(60px);
        position: absolute;
        right: -30%;
        bottom: -110%;
        width: 132.3717948717949vw;
        height: 103.1228205128205vw;
        transform: rotate(163.783deg);
    }
}
@media only screen and (max-width: 767px) {
    .hero-banner-1 .banner-contain .heading {
        font-size: 38px;
    }
}

