.memberships-cards {
    background: #000;
    padding: 160px 0 132px;
    position: relative;
}
.memberships-cards:before {
    content: '';
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #FF5983 0%, #FF9A42 80%);
    opacity: 0.3;
    filter: blur(250px);
    pointer-events: none;
    width: 55.06%;
    height: 141.86%;
    transform: rotate(104.546deg);
    top: 12.72%;
    right: -24.7%;
    z-index: 1;
}
.memberships-cards::after {
    content: '';
    position: absolute;
    fill: var(--Neon-Peach, radial-gradient(50% 50% at 50% 50%, #FF5983 0%, #FF9A42 80%));
    opacity: 0.32;
    filter: blur(250px);
    pointer-events: none;
    height: 90.2720vw;
    top: 8.0971875vw;
    right: -15.7%;
    transform: rotate(-115.265deg);
    z-index: 1;
}
.memberships-cards .heading-wrapper {
    text-align: center;
    padding: 0 25%;
    margin-bottom: 60px;
}
.membership-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.credits .heading-wrap {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    width: 100%;
    padding-bottom: 35px;
}
.heading-wrap .subtitle {
    margin-top: 12px;
}
.card-wrap {
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: -5px -5px 60px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    display: flex;
    padding: 60px 40px 40px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
}
.card-wrap p.description {
    font-size: 16px;
    margin: 12px 0 0;
}
.price-wrappper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.price-wrappper .sale_label {
    color: var(--White, #FFF);
    font-family: var(--font-heading-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
}
.price {
    display: flex;
    gap: 8px;
    letter-spacing: 0;
}
.price .sale-price {
    color: #fff;
    font-size: 32px;
    font-family: var(--font-heading-family);
    font-weight: 500;
    line-height: 100%;
}
.price .original-price {
    color: var(--White, #FFF);
    font-family: var(--font-heading-family);
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    text-decoration: line-through;
    text-transform: uppercase;
    opacity: 0.4;
}
.benefits {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.benefits-list {
    width: 100%;
}
.benefits-list ul {
    color: #fff;
    padding-left: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 32px;
}
.benefits-list ul li {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.available-membership {
    display: flex;
    gap: 12px;
    align-items: center;
}
.available-membership div > span {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
}
.available-membership div > span.total {color: rgba(255, 255, 255, 0.40);}
.btn-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.book-now {
    text-decoration: none;
    color: #fff;
    border: 1.5px solid var(--White, #FFF);
    display: flex;
    height: 48px;
    padding: 16px 20px 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    font-family: var(--font-heading-family);
}
.book-now:hover {
    background-color: #fff;
    color: #000;
}
/*--------monthly memebership-----------*/
.monthly-credits .membership-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.monthly-credits .card-wrap {
    max-width: 37.539%;
}
@media only screen and (min-width: 768px) {
    .mobile-toggle {
        display: none;
    }
}
@media only screen and (max-width: 1300px) {
    .memberships-cards .heading-wrapper { padding: 0; }
}
@media only screen and (max-width: 1199px) {
    .membership-card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (max-width: 989px) {
    .memberships-cards {padding: 80px 0 60px;}
}
@media only screen and (max-width: 767px) {
    .card-wrap { padding: 24px; }
    .price .sale-price {font-size: 28px;}
    .monthly-credits .card-wrap {
        max-width: 100%;
    }
    .price-wrappper .sale_label {
        font-size: 16px;
    }
    .membership-card-wrapper .card-wrap > .benefits,
    .membership-card-wrapper .card-wrap > .btn-wrap { display: none; }
    .mobile-toggle {
        width: 100%;
    }
    .toggle-wrap {
        display: flex;
        justify-content: space-between;
        color: #fff;
        width: 100%;
    }
    .toggle-wrap label {
        flex: 1 0 auto;
        color: var(--White, #FFF);
        font-family: var(--font-heading-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        text-transform: uppercase;
    }
    .dropdown-content {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        flex-direction: column;
        gap: 24px;
        display: flex;
    }
    .dropdown-content.open {
        display: flex;
    }
    .mobile-toggle.active .toggle-icon {
        transform: rotate(180deg);
      }
      
      .toggle-icon {
        transition: transform 0.3s ease;
      }
      .toggle-wrap.active {
        display: none;
    }
}