.global-linklist {
    background: #000000;
    overflow: hidden;
}
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 132px 0;
    position: relative;
    z-index: 1;
}
.content-wrapper::after {
    content: "";
    background: var(--Neon-Peach, radial-gradient(50% 50% at 50% 50%, #FF5983 0%, #FF9A42 80%));
    opacity: 0.3;
    filter: blur(200px);
    position: absolute;
    right: 0;
    bottom: -59.17%;
    width: 40.43572916666667vw;
    height: 66.41125vw;
    transform: rotate(67.766deg);
    z-index: -1;
}
.headings {
    max-width: 33.33%;
}
.links-wrappper {
    max-width: 33.33%;
}
.links-wrappper .description { margin: 0 0 40px; }
.link-list span {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: var(--font-heading-family);
    font-weight: 600;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    gap: 8px;
    border-bottom: 1.8px solid transparent;
    max-width: max-content;
    cursor: pointer;
}
.link-list span:hover {
    border-bottom: 1.8px solid #FEE4B1;
}
.link-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}