.global_image-banner.hero-banner .image figure {
    margin: 0;
    position: relative;
    line-height: 0;
}
.global_image-banner.hero-banner .image {
    width: 100%;
}
.global_image-banner.hero-banner::before {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.90) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%);
    content: "";
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
.global_image-banner .banner-content {
    position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    height: 100%;
    padding-bottom: 100px;
    z-index: 2;
}
.global_image-banner .banner-content {
    flex-direction: column;
    justify-content: center;
    height: auto;
    max-width: 57%;
    gap: 60px;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.global_image-banner .banner-content > * {
    flex-basis: 100%;
    text-align: center;
    padding-top: 0.05em;
}
.global_image-banner .banner-date {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.global_image-banner .countdown-timer ul {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}  
.global_image-banner .countdown-timer li {
    position: relative;
    padding: 0 17px;
    text-align: center;
}
.global_image-banner .countdown-timer li:last-child {
    padding-right: 0;
}
.global_image-banner .countdown-timer li::after {
    content: ":";
    position: absolute;
    left: auto;
    right: -6px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 50px;
    font-weight: 500;
    line-height: 100%;
    color: #ffffff;
    height: 50px;
}
.global_image-banner .countdown-timer li:last-child:after {
    display: none;
}
.global_image-banner .countdown-timer li > span {
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -5px -5px 15px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(4px);
    display: flex;
    padding: 16px 20px;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}
.global_image-banner .countdown-timer span.number {
    color: #FFF;
    text-align: center;
    font-family: var(--font-heading-family);
    font-size: 48px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
}
.global_image-banner span.text {
    color: #FFF;
    text-align: center;
    font-family: var(--font-heading-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}
.global_image-banner .banner-contain a.cta {
    display: none;
}
.global_image-banner a.cta {
    border: 1.5px solid var(--White, #FFF);
    display: flex;
    height: 48px;
    padding: 16px 20px 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    color: var(--White, #FFF);
    font-family: var(--font-heading-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    text-decoration: none;
}
.global_image-banner a.cta:hover {
    background: #ffffff;
    color: #000000;
}
@media only screen and (max-width: 1500px) {
    .global_image-banner .banner-content { max-width: 70%; }
}
@media only screen and (max-width: 1250px) {
    .global_image-banner .banner-content {
        max-width: 80%;
        gap: 15px;
    }
}
@media only screen and (max-width: 1199px) {
    .global_image-banner .banner-content {
        max-width: 100%;
    }
    .global_image-banner .banner-content {padding-bottom: 40px;}
}
@media only screen and (max-width: 989px) {
    .global_image-banner .banner-content {padding-bottom: 15px;}
    .global_image-banner .banner-content .banner-contain .description {font-size: 14px;}
    .global_image-banner .banner-date {gap: 10px;}
}
@media only screen and (max-width: 767px) {
    .global_image-banner .countdown-timer li {
        padding: 0 12px;
    }
    .global_image-banner .countdown-timer li > span {
        padding: 16px 15px;
    }
    .global_image-banner .banner-content {
        flex-direction: column;
        gap: 50px;
        padding-bottom: 50px;
        padding-top: 44px;
    }
    .global_image-banner .banner-content > * {
        flex-basis: auto;
    }
    .global_image-banner .countdown-timer span.number {
        font-size: 40px;
    }
    .global_image-banner.hero-banner .image figure {
        height: 100%;
    }
    .global_image-banner .banner-date {
        align-items: center;
        justify-content: center;
    }
    .global_image-banner .banner-content {
        max-width: 100%;
        gap: 30px;
        height: 100%;
        justify-content: space-between;
        padding: 80px 20px;
    }
    .global_image-banner .banner-content > .banner-button { display: none; }
    .global_image-banner .banner-contain a.cta {
        display: block;
        width: 100%;
        margin-top: 16px;
    }
}

