.memberships-cards {
    background: #000;
    padding: 160px 0 132px;
    position: relative;
}
.membership .memberships-cards:before {
    content: '';
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, #FF5983 0%, #FF9A42 80%);
    opacity: 0.3;
    filter: blur(250px);
    pointer-events: none;
    width: 55.06%;
    height: 141.86%;
    transform: rotate(104.546deg);
    top: 12.72%;
    right: -24.7%;
    z-index: 1;
}
.membership .memberships-cards::after {
    content: '';
    position: absolute;
    fill: var(--Neon-Peach, radial-gradient(50% 50% at 50% 50%, #FF5983 0%, #FF9A42 80%));
    opacity: 0.32;
    filter: blur(250px);
    pointer-events: none;
    height: 90.2720vw;
    top: 8.0971875vw;
    right: -15.7%;
    transform: rotate(-115.265deg);
    z-index: 1;
}
.credits .memberships-cards:before {
    content: '';
    position: absolute;
    background: var(--Neon-Cherry, radial-gradient(50% 50% at 50% 50%, #FF4F86 0%, #FF8059 80%));
    opacity: 0.3;
    filter: blur(250px);
    pointer-events: none;
    width: 55.5%;
    height: 79.74%;
    transform: rotate(104.546deg);
    right: -10.2%;
    top: 7.87%;
    z-index: 1;
}
.credits .memberships-cards::after {
    content: '';
    position: absolute;
    background: var(--Neon-Peach, radial-gradient(50% 50% at 50% 50%, #FF5983 0%, #FF9A42 80%));
    opacity: 0.32;
    filter: blur(250px);
    pointer-events: none;
    left: -6.3%;
    bottom: 0;
    width: 67.8%;
    height: 28.44%;
    transform: rotate(-115.265deg);
    z-index: 2;
}
.monthly-credits .memberships-cards:before {
    content: '';
    position: absolute;
    background: var(--Neon-Blue, radial-gradient(50% 50% at 50% 50%, #2DF8FF 0%, #7EFFDB 80%));
    opacity: 0.3;
    filter: blur(300px);
    pointer-events: none;
    width: 44.733%;
    height: 100%;
    transform: rotate(-137.873deg);
    right: 18.53%;
    bottom: -10.2%;
    z-index: 1;
}
.monthly-credits .memberships-cards::after {
    content: '';
    position: absolute;
    background: var(--Neon-Cherry, radial-gradient(50% 50% at 50% 50%, #FF4F86 0%, #FF8059 80%));
    opacity: 0.32;
    filter: blur(250px);
    pointer-events: none;
    left: -6.3%;
    top: 0;
    width: 67.82%;
    height: 31.32%;
    transform: rotate(-115.265deg);
    z-index: 2;
}
.memberships-cards .heading-wrapper {
    text-align: center;
    padding: 0 25%;
    margin-bottom: 60px;
}
.membership-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    position: relative;
    z-index: 1;
}
.credits .heading-wrap {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    width: 100%;
    padding-bottom: 35px;
}
.heading-wrap .subtitle {
    margin-top: 12px;
}
.card-wrap {
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.02);
    box-shadow: -5px -5px 60px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4px);
    display: flex;
    padding: 60px 40px 40px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    align-self: stretch;
}
.heading-wrap {
    overflow: hidden;
}
.card-wrap p.description {
    font-size: 16px;
    margin: 12px 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.price-wrappper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.price-wrappper .sale_label {
    color: var(--White, #FFF);
    font-family: var(--font-heading-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    flex: 1 1 auto;
    padding-right: 2rem;
}
.price {
    display: flex;
    gap: 8px;
    letter-spacing: 0;
}
.price .sale-price {
    color: #fff;
    font-size: 32px;
    font-family: var(--font-heading-family);
    font-weight: 500;
    font-weight: normal;
    line-height: 100%;
}
.price .original-price {
    color: var(--White, #FFF);
    font-family: var(--font-heading-family);
    font-size: 24px;
    font-weight: 500;
    font-weight: normal;
    line-height: 100%;
    text-decoration: line-through;
    text-transform: uppercase;
    opacity: 0.4;
}
.benefits {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.benefits-list {
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.benefits-list ul {
    color: #fff;
    padding-left: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 32px;
}
.benefits-list ul li {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.available-membership {
    display: flex;
    gap: 12px;
    align-items: center;
}
.available-membership div > span {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    font-weight: normal;
    line-height: 100%;
}
.available-membership div > span.total {color: rgba(255, 255, 255, 0.40);}
.btn-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    min-height: 48px;
}
.book-now {
    text-decoration: none;
    color: #fff;
    border: 1.5px solid var(--White, #FFF);
    display: flex;
    height: 48px;
    padding: 16px 20px 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    font-family: var(--font-heading-family);
}
.book-now:hover {
    background-color: #fff;
    color: #000;
}
/*--------monthly memebership-----------*/
.monthly-credits .membership-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.monthly-credits .card-wrap {
    max-width: 37.539%;
}
@media only screen and (min-width: 768px) {
    .mobile-toggle {
        display: none;
    }
}
@media only screen and (max-width: 1499px) {
    .card-wrap {padding: 50px 30px 30px 30px;}
    .memberships-cards .heading-wrapper {padding: 0 15%;}
}
@media only screen and (max-width: 1299px) {
    .membership-card-wrapper .heading-wrap .heading {
        font-size: 26px;
    }
    .price-wrappper .sale_label {font-size: 16px;}
    .price .sale-price { font-size: 26px;}
    .price .original-price {font-size: 20px;}
    .membership-card-wrapper .heading-wrap .subtitle {
        font-size: 18px;
    }
}
@media only screen and (max-width: 1199px) {
    .membership-card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .memberships-cards .heading-wrapper { padding: 0; }
    .monthly-credits .card-wrap {
        max-width: 50%;
    }
}
@media only screen and (max-width: 989px) {
    .memberships-cards {padding: 80px 0 60px;}
}
@media only screen and (max-width: 767px) {
    .card-wrap { padding: 24px; }
    .price .sale-price {font-size: 28px;}
    .monthly-credits .card-wrap {
        max-width: 100%;
    }
    .price-wrappper .sale_label {
        font-size: 16px;
        padding-right: 1rem;
    }
    .membership-card-wrapper .heading-wrap .heading {
        font-size: 22px;
    }
    .membership-card-wrapper .card-wrap > .benefits,
    .membership-card-wrapper .card-wrap > .btn-wrap { display: none; }
    .mobile-toggle {
        width: 100%;
    }
    .toggle-wrap {
        display: flex;
        justify-content: space-between;
        color: #fff;
        width: 100%;
    }
    .toggle-wrap label {
        flex: 1 0 auto;
        color: var(--White, #FFF);
        font-family: var(--font-heading-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        text-transform: uppercase;
    }
    .dropdown-content {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        flex-direction: column;
        gap: 24px;
        display: flex;
    }
    .dropdown-content.open {
        display: flex;
    }
    .mobile-toggle.active .toggle-icon {
        transform: rotate(180deg);
      }
      
      .toggle-icon {
        transition: transform 0.3s ease;
      }
      .toggle-wrap.active {
        display: none;
    }
    .membership .memberships-cards:before {
        content: '';
        position: absolute;
        background: var(--Neon-Peach, radial-gradient(50% 50% at 50% 50%, #FF5983 0%, #FF9A42 80%));
        opacity: 0.3;
        filter: blur(100px);
        pointer-events: none;
        width: 144.4476923076923vw;
        height: 205.9264102564103vw;
        transform: rotate(-120.037deg);
        right: -53%;
        top: -2%;
        z-index: 1;
    }
    .membership .memberships-cards::after {
        content: '';
        position: absolute;
        background: var(--Neon-Peach, radial-gradient(50% 50% at 50% 50%, #FF5983 0%, #FF9A42 80%));
        opacity: 0.3;
        filter: blur(100px);
        pointer-events: none;
        left: -264.356px;
        bottom: 6%;
        top: auto;
        width: 563.346px;
        height: 713.113px;
        transform: rotate(-120.037deg);
        z-index: 1;
    }
    .credits .memberships-cards:before {
        content: '';
        width: 219.4569230769231vw;
        height: 359.6079487179487vw;
        transform: rotate(151.969deg);
        right: -114%;
        top: 0;
        z-index: 1;
    }
    .credits .memberships-cards::after {
        content: '';
        position: absolute;
        fill: var(--Neon-Peach, radial-gradient(50% 50% at 50% 50%, #FF5983 0%, #FF9A42 80%));
        opacity: 0.3;
        filter: blur(150px);
        pointer-events: none;
        left: -109%;
        bottom: -20%;
        width: 163.4%;
        height: 45.9%;
        transform: rotate(166.779deg);
        z-index: 2;
    }
    .monthly-credits .memberships-cards::after { display: none; }
    .monthly-credits .memberships-cards:before {
        filter: blur(150px);
        right: -706.268px;
        top: 9.8%;
        width: 259.2630769230769vw;
        height: 293.494615vw;
        transform: rotate(166.779deg);
    }
    .monthly-credits .card-wrap {
        max-width: 100%;
    }
    .btn-wrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        min-height: 100%;
    }
}