.hit-banner-column {
  overflow: hidden;
}

.hit-banner-column .banner__heading {
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}

.hit-banner-column .banner__box .banner__heading+* {
  margin-top: 15px;
}

.hit-banner-column .banner--adapt:before {
  padding-bottom: 62.5% !important;
}

.hit-banner-column .banner__box>*+.banner__buttons,
.hit-banner-column .banner__box>*+* {
  margin-top: 40px;
}

.hit-banner-column .banner__content {
  flex-direction: column;
  padding: 40px 50px 60px 50px;
}

.hit-banner-column .banner-column-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hit-banner-column .banner-column-block {
  color: #fff;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 16px;
}

.hit-banner-column .banner-column-block h6 {
  color: currentColor;
  margin: 24px 0 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  padding-bottom: 24px;
}

.hit-banner-column .banner-column-block .text-wrap p {
  font-weight: 300;
  line-height: 24px;
}

.hit-banner-column .banner-column-block .text-wrap {
  padding-top: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.25)
}

.hit-banner-column .banner-column-block .box svg {
  height: 64px;
  width: 64px;
  vertical-align: top;
}

.hit-banner-column .banner-column-block .col {
  padding: 60px 40px 40px 40px;
  width: 25%;
  position: relative;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: -5px -5px 60px 0px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

}

/* .hit-banner-column .banner-column-block .col:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: -5px -5px 60px 0px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
} */

.hit-banner-column .banner-column-block .col:not(:first-child):after {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.15);
  height: 10000%;
  width: 1px;
  left: 0;
  top: -1000%;
  opacity: 0;
  visibility: hidden;
}


@media screen and (min-width: 750px) {
  .hit-banner-column .banner--desktop-transparent .banner__box {
    padding: 0;
    max-width: 800px !important;
  }

  /* .hit-banner-column .banner-column-block{
    margin: -50px -40px 0 -40px;
  } */
  .hit-banner-column .banner__box {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1199px) {
  .hit-banner-column .banner-column-block h6 {
    margin: 30px 0 0;
  }

  .hit-banner-column .banner-column-block .text-wrap {
    margin-top: 15px;
  }
}

@media screen and (max-width: 989px) {
  .hit-banner-column .banner--desktop-transparent .banner__box {
    max-width: 100% !important;
  }

  .hit-banner-column .banner-column-block .col {
    width: 100%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.30);
    border-right: 1px solid rgba(255, 255, 255, 0.30); */
  }

  .hit-banner-column .banner-column-block .col:nth-child(even) {
    border-right: 0;
  }

  .hit-banner-column .banner-column-block .col:not(:first-child):after {
    display: none;
  }

  .hit-banner-column .banner-column-block .box svg {
    width: 40px;
    height: 40px;
  }

  .hit-banner-column .banner-column-block .col {
    padding: 40px;
  }

  .hit-banner-column .banner__content {
    padding: 40px 20px 40px 20px;
  }

}

@media only screen and (min-width: 750px) and (max-width: 989px) {
  .hit-banner-column .banner-column-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 749px) {
  .hit-banner-column .banner-column-block h6 {
    padding-bottom: 0;
  }

  .hit-banner-column .banner__box {
    padding: 60px 20px;
  }

  .hit-banner-column .banner-column-block .text-wrap {
    padding-top: 0;
    border-width: 0 0 0 0;
  }

  .hit-banner-column .banner-column-block h6 {
    margin-top: 16px;
  }

  .hit-banner-column .banner__content {
    align-items: flex-start;
  }

  .hit-banner-column .banner__box>*+.banner__buttons {
    margin-top: 25px;
  }

  .hit-banner-column .banner__box>*+* {
    margin-top: 20px;
  }

  .hit-banner-column .banner-column-block .col {
    padding: 20px 16px;
    border: 1px solid rgba(255, 255, 255, 0.15);
  }

  .hit-banner-column .banner-column-block h6 {
    line-height: normal;
  }

  .hit-banner-column .banner-column-grid.section-title-mobtop {
    flex-direction: column-reverse;
  }

  .hit-banner-column .banner-column-grid.section-title-mobtop .banner-column-block {
    border-top: 1px solid rgba(255, 255, 255, .3);
  }

  .hit-banner-column .banner-column-block .col {
    width: 100%;
  }

  .hit-banner-column .banner-column-grid.section-title-mobtop .banner-column-block {
    flex-direction: column;
  }

  .hit-banner-column .banner-column-grid.section-title-mobtop .banner-column-block {
    border-top: 0px solid rgba(255, 255, 255, .3);
  }

  .hit-banner-column .banner__content {
    padding: 20px 20px 40px 20px;
  }

  .hit-banner-column .banner-column-grid.section-title-mobtop {
    flex-direction: column;
  }

  .hit-banner-column .banner--desktop-transparent .banner__box {
    padding: 80px 0px 0px 0;
  }

  .hit-hero .banner__box .banner__text p {
    font-size: 12px;
  }
}