.hit-team .background-none .multicolumn-card__image-wrapper {
  margin-left: 0;
  margin-right: 0;
}
.hit-team .background-none .multicolumn-card__info{
  padding-bottom: 0;
}
.hit-team .background-none .multicolumn-list .multicolumn-card__info, 
.hit-team .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
  padding-left: 0;
  padding-right: 0;
}
.hit-team .background-none .multicolumn-card__image-wrapper+.multicolumn-card__info {
  padding-top: 15px;
}
.hit-team .multicolumn-card__info .link{
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  color: currentcolor;
}
.hit-team .grid{
  row-gap: 40px;
}
.hit-team .title-wrapper-with-link{
  margin-bottom: 40px;
  display: block;
}
.hit-team .title-wrapper-with-link h6{
  color: #C79D5B;
  margin: 0 0 20px;
}
.hit-team .full-tema-li .link{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C79D5B;
  color: #fff;
}
.hit-team .full-tema-li .link:after{
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background-image: url('https://cdn.shopify.com/s/files/1/0277/8280/7635/files/Vector-1.svg?v=1701258878');
  background-repeat: repeat;
  background-size: 60%;
  opacity: .2;
  background-position: top right;
}
.hit-team .all-btn-wrap .button--primary{
  background-color: #C79D5B;
}
.hit-team .all-btn-wrap .button--primary:hover{
  background-color: #000;
  color: #fff;
}
.hit-team .all-btn-wrap .button {
    margin-top: 40px;
}

@media screen and (min-width: 750px){
  .hit-team .grid--6-col-desktop .grid__item {
    width: calc(33.33% - 40px * 2 / 3);
    max-width: calc(33.33% - 40px * 2 / 3);
  }
  .hit-team .grid--6-col-desktop {
    column-gap: 40px;
  }
  .hit-team .multicolumn-card__info .link{
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px){
  .hit-team .grid--6-col-desktop .grid__item {
    width: calc(16.66% - 40px * 5 / 6);
    max-width: calc(16.66% - 40px * 5 / 6);
  }
}
@media screen and (max-width: 749px){
  .hit-team .grid{
    row-gap: 40px;
    column-gap: 10px;
  }
  .hit-team .title-wrapper-with-link {
    margin-bottom: 30px;
  }
  .hit-team .title-wrapper-with-link h6{
    margin: 0 0 15px;
  }
  .grid--2-col-tablet-down .grid__item {
    width: calc(50% - 10px / 2);
  }
  .hit-team .multicolumn-list__item:nth-child(n+5){
    display: none;
  }
  .hit-team .all-btn-wrap{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .hit-team .all-btn-wrap .icon-wrap{
    position: relative;
    top: 1px;
    margin-left: 10px;
  }
}