.main-cart-section .title-wrapper-with-link .title--primary{
  text-transform: uppercase;
}
.main-cart-section .title-wrapper-with-link {
  margin: 0 0 60px;
}
.main-cart-section th {
  color: rgba(255, 255, 255, 0.40);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
}
.main-cart-section .cart-item__image-container, .main-cart-section .cart-item__image{
  width: 100%;
  height: 100%;
  position: absolute;
}
.main-cart-section .cart-item__name {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 16px;
}
.main-cart-section .product-option {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0;
  color: #fff;
  font-weight: 300;
  margin-top: .8rem;
}
.main-cart-section .cart-item__image-container{
  vertical-align: top;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 13rem;
}
.main-cart-section .cart-item__image-container.dummy--img{
  background-color: #bdbdbd40;
}
.main-cart-section .cart-item__price{
  font-weight: 400;
}
.main-cart-section .quantity{
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: none;
}

.main-cart-section .quantity:before, .main-cart-section .quantity:after{
  display: none;
}
.main-cart-section .quantity__input{
  font-size: 14px;
}
.main-cart-section .quantity-popover-container {
  max-width: 120px;
}
.main-cart-section .quantity__button{
  width: 35px;
}
.main-cart-section .cart-item cart-remove-button svg path {
  stroke: rgba(255,255,255,0.4);
}
.main-cart-section .cart-item__totals .price{
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.cart__footer-wrapper{
  margin-top: 60px;
  position: relative;
  z-index: 1;
}
.cart__footer-wrapper .row{
  display: flex;
  justify-content: space-between;
}
.cart__footer-wrapper .left-link .global-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.cart__footer-wrapper .left-link .global-link svg{
  margin-right: 0.8rem;
  margin-left: 0;
}
.cart__footer-wrapper .left-link .global-link:not(:hover) svg{
  transform: rotate(180deg);
}
.cart__footer-wrapper .cart__blocks{
  width: 430px;
}
.cart__footer-wrapper .cart__checkout-button, .cart__footer-wrapper .cart__dynamic-checkout-buttons {
  max-width: 100%;
}
.cart__footer-wrapper .cart__checkout-button {
  max-width: 100%;
  border: 1.5px solid var(--White, #FFF);
  background: transparent;
  color: #fff;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.02em;
  font-weight: 400;
  border-radius: 0;
}
.cart__footer-wrapper .shopify-cleanslate ul{
  -webkit-flex-direction: row !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  -webkit-flex-wrap: nowrap !important;
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
  gap: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.cart__footer-wrapper .dynamic-checkout__content li{
  width: 100%;
  -webkit-flex-basis: auto !important;
  -ms-flex-preferred-size: auto !important;
  flex-basis: auto !important;
  margin: 0 0 5px !important;
}
.cart__footer-wrapper .totals__total-value, .cart__footer-wrapper .totals__total{
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  line-height: 160%;
}
.cart__footer-wrapper .tax-note {
  font-size: 16px;
  line-height: 100%;
  text-align: left;
  color: #fff;
  margin: 18px 0 30px;
  letter-spacing: 0;
  font-weight: 300;
}
.cart__footer-wrapper .tax-note a, .cart__login-paragraph a{
  color: currentColor;
}
.cart__footer-wrapper .totals, .shipping_totals{
  justify-content: space-between;
}
.shipping_totals{
  display: flex;
  margin-top: 12px;
}
.shipping_totals .totals__total, .shipping_totals .totals__total-value{
  font-size: 16px;
  line-height: 150%;
}
body .cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 0;
}
.main-cart-section .cart-item__name:hover{
  text-decoration-thickness: 1px;
}
.main-cart-section .cart-item__error-text{
  color: #666;
}
body #main-cart-footer.is-empty{
  display: none;
}
.main-cart-section {
  z-index: 1;
  position: relative;
}
.main-cart-section:after {
  content: "";
  background: var(--Neon-Peach, radial-gradient(50% 50% at 50% 50%, #FF5983 0%, #FF9A42 80%));
  opacity: .3;
  filter: blur(200px);
  position: absolute;
  right: -15%;
  bottom: -68.17%;
  width: 53.914vw;
  height: 88.548vw;
  transform: rotate(67.766deg);
  z-index: -1;
}
@media screen and (min-width: 750px){
  .cart-items td {
    vertical-align: middle;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255,255,255,.1);
  }
  .cart-items tr:first-child td{
    padding-top: 32px;
  }
  .main-cart-section .cart__items{
    padding-bottom: 0;
    border-bottom: none;
  }
  .cart-items th{
    border-color: rgba(0,0,0,0.1);
  }
  .main-cart-section .cart-item .loading-overlay{
    top: 50%;
    padding-top: 0;
  }
}
@media screen and (min-width: 990px){
  .cart-items thead th:first-child {
    width: 40%;
  }
  .cart-items thead th{
    width: 20%;
  }
  .cart-item__media {
    width: 130px;
  }
}
@media screen and (max-width: 1199px){
  .main-cart-section .title-wrapper-with-link {
    margin: 0 0 50px;
  }
}
@media screen and (max-width: 989px){
  .main-cart-section .title-wrapper-with-link {
    margin: 0 0 40px;
  }
  .cart__footer-wrapper {
    margin-top: 50px;
  }
}
@media screen and (max-width: 749px){
  .cart__footer-wrapper .cart__blocks {
    width: 100%;
  }
  .cart__footer-wrapper .row {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .cart__footer{
    margin-bottom: 50px;
  }
  .cart__footer-wrapper {
    margin-top: 40px;
  }
  .shipping_totals {
    margin-top: 10px;
  }
  .cart__footer-wrapper .tax-note{
    margin: 16px 0 24px;
  }
  .cart__footer-wrapper .dynamic-checkout__content li{
    margin-top: 0 !important;
  }
  .main-cart-section .cart-item__name{
    margin-bottom: 8px;
  }
  .main-cart-section .quantity-popover-container {
    display: flex;
    padding: 0;
  }
  .main-cart-section .quantity{
    min-height: 38px;
    width: 100px;
  }
  .main-cart-section .quantity__button {
    width: 28px;
  }
  .cart-item cart-remove-button{
    margin-left: 0;
    justify-content: flex-end;
    position: relative;
    top: -13px;
    left: 13px;
  }
  .main-cart-section .cart-item__quantity-wrapper{
    align-items: center;
    justify-content: space-between;
  }
  .main-cart-section .cart-item__error{
    color: #666;
    margin-top: 15px;
  }
  .main-cart-section .cart-item__image {
    max-width: 100%;
  }
  .main-cart-section .cart-item{
    margin-bottom: 64px;
    position: relative;
  }
  .main-cart-section .cart-item:last-child{
    margin-bottom: 0;
  }
  .main-cart-section .cart__items {
    padding: 3.2rem 0;
    border-bottom: .1rem solid rgba(255,255,255,.1);
  }
  .main-cart-section .cart-item:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,.1);
    left: 0;
    top: -30px;
  }
  .cart-items thead tr {
    border-bottom: none;
    margin-bottom: 0;
  }
  .cart__footer-wrapper .shopify-cleanslate ul{
    gap: 10px;
  }
  .main-cart-section .cart-item__image-container {
    aspect-ratio: 61 / 76;
    width: 12.2rem;
  }
  .main-cart-section:after {
    width: 127.595vw;
    height: 209.56vw;
    filter: blur(100px);
    bottom: -38.17%;
  }
}