.wellness-faq {
    position: relative;
}
.wellness-faq > .padding-sections:before {
    content: '';
    position: absolute;
    display: block;
    pointer-events: none;
    background: radial-gradient(50% 50% at 50% 50%, #FF4F86 0%, #FF8059 80%);
    opacity: 0.3;
    filter: blur(200px);
    left: -48.72%;
    bottom: -1.89%;
    width: 118.59192vw;
    height: 48.881719vw;
    transform: rotate(-12.143deg);
}
.wellness-faq,.all-access-faq { background-color: #000; overflow: hidden;}
.wellness-accordion-title {
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	font-family: var(--font-heading-family);
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	text-transform: uppercase;
	letter-spacing: 0;
}

.section-boxes .box-items {
	background: #FCFAF7;
}

.section-boxes .box-items h5 span {
	color: #FEE4B1;
}

.wellness-faq-accordion .wellness-accordion-box {
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-width: 1px 0 1px 0;
	margin-bottom: -1px;
}
.wellness-faq-accordion .wellness-accordion-box:last-child {
    border: none;
}
.wellness-accordion-box {
	padding-bottom: 12px;
}

.wellness-faq-accordion .wellness-accordion-box .wellness-accordion-title {
	padding: 30px 40px 20px 0;
	cursor: pointer;
	gap: 30px;
	position: relative;
}

.wellness-faq-accordion .wellness-accordion-box .text-wrap p {
    font-size: 16px;
    max-width: 97%;
    color: #ffffff;
    line-height: 150%;
    font-weight: 300;
}

/* .wellness-faq .row {
	display: flex;
	justify-content: space-between;
	column-gap: 120px;
} */

.wellness-accordion-box .panel {
	display: none;
	padding-bottom: 16px;
}

.wellness-accordion-box .wellness-accordion-title svg {
	transition: all .3s ease 0s;
	width: 20px;
	height: 20px;
	position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.wellness-accordion-box .wellness-accordion-title.active svg {
	transform: rotate(180deg);
}

/* .wellness-faq .row .col-left {
	width: 37.5%;
	max-width: 550px;
}

.wellness-faq .row .col-right {
	width: 62.5%;
} */

.section-boxes .box-items h5 {
	font-size: 16px;
	font-weight: 450;
	line-height: 150%;
	letter-spacing: 0;
	margin: 0;
	text-transform: uppercase;
}

/* 
.section-boxes .box-items:not(:last-child) {
	margin-bottom: 20px;
}
 */
.section-boxes .box-items {
	padding: 40px;
}

.wellness-faq-accordion .section-head h2 {
	text-transform: uppercase;
	margin-top: 0;
}

/* new css start here  */
.wellness-faq .row {
	display: flex;
	flex-direction: column;
	row-gap: 150px;
}

.section-boxes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

.wellness-faq-accordion {
	display: flex;
	justify-content: space-between;
	gap: 60px;
	position: relative;
    z-index: 1;
}
.section-head {
    max-width: 536px;
    padding-right: 32px;
}
.section-head p.description {
    padding-right: 30%;
}
.section-head a.btn {
    color: var(--White, #FFF);
    font-family: var(--font-heading-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.section-head a.btn:hover {
	text-decoration: underline;
}
.wellness-accordion-box-outer {
	width: 100%;
	max-width: 1060px;
}

/* new css end here */
/* 
@media only screen and (max-width: 1441px) {
	.wellness-faq .row .col-left {
		width: 45%;
		max-width: 550px;
	}

	.wellness-faq .row .col-right {
		width: 49.2%;
	}
} */
.allaccess-accordian { position: relative;}
.allaccess-accordian .image figure { margin: 0; line-height: 0;
    position: relative;
    z-index: 1;
    padding-bottom: 49.35%; }
.allaccess-accordian .image figure img {
    position: absolute;
}
.allaccess-accordian .wellness-faq-accordion {
	position: absolute;
	bottom: 12%;
	right: 0;
	flex-direction: column;
    gap: 32px;
	max-width: 42%;
	padding-top: 0;
    padding-bottom: 0;
	z-index: 2;
}
.allaccess-accordian .image figure::after {
	content: "";
	background: linear-gradient(90deg, rgba(11, 7, 6, 0.00) 9.99%, rgba(11, 7, 6, 0.90) 73.5%);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	z-index: 1;
}
@media only screen and (max-width: 1599px) {
	.section-head p.description {
        padding-right: 10%;
    }
	.allaccess-accordian .wellness-faq-accordion {
		max-width: 60%;
		padding-top: 0;
		padding-bottom: 0;
	}
	.allaccess-accordian .image figure {
		padding-bottom: 60%;
	}
}
@media only screen and (max-width: 1399px) {
	.allaccess-accordian .image figure {
		padding-bottom: 80%;
	}
}
@media only screen and (max-width: 1024px) {
	.shopify-section.wellness-faq .page-width {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.wellness-faq .row {
		column-gap: 80px;
		row-gap: 80px;
	}

}
@media only screen and (max-width:989px) {
	.allaccess-accordian .wellness-faq-accordion {
		position: static;
		max-width: 100%;
		padding-top: 40px;
        padding-bottom: 40px;
	}
	.section-head {
		max-width: 100%;
		padding-right: 0;
	} 
	.section-head p.description {
		padding-right: 10%;
	}
}
@media only screen and (max-width:769px) {
	.all-access-faq .wellness-faq-accordion .section-head h2 {font-size: 32px;}
	.wellness-faq-accordion .section-head h2 {
		font-size: 40px;
	}
	.section-head p.description {
		padding-right: 0;
	}
	.section-boxes {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
	}

	.wellness-accordion-box, .wellness-accordion-box .panel {
		padding-bottom: 8px;
	}
	.wellness-faq-accordion .wellness-accordion-box .wellness-accordion-title {
		padding: 32px 30px 32px 0;
	} 
	.wellness-accordion-box .wellness-accordion-title svg { right: 0; }

	.wellness-faq-accordion {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.wellness-accordion-box-outer,
	.wellness-faq-accordion .wellness-accordion-box .text-wrap p {
		max-width: 100%;
	}

	.section-boxes .box-items {
		padding: 20px;
	}

	.wellness-faq .row .col-right,
	.wellness-faq .row .col-left {
		width: 100%;
		max-width: 100%;
	}

	.section-boxes .box-items h5 {
		font-size: 14px;
		font-weight: 450;
		line-height: 150%;
		letter-spacing: 0.1px;
	}

	.section-boxes .box-items {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}
	.wellness-faq>.padding-sections:before {
		filter: blur(100px);
		right: -288px; /* -77%; */
		top: 407px;  /* 18%; */
		width: 1058.361px;
		height: 766.573px;
		transform: rotate(-113.331deg);
		bottom: auto;
		left: auto;
		bottom: 0;
	}
}