.wellness-accordion-title {
	display: flex;
	justify-content: space-between;
	color: #000;
	font-size: 20px;
	font-style: normal;
	font-weight: 450;
	line-height: 150%;
	text-transform: uppercase;
	letter-spacing: 0;
}

.section-boxes .box-items {
	background: #FCFAF7;
}

.section-boxes .box-items h5 span {
	color: #C79D5B;
}

.wellness-faq-accordion .wellness-accordion-box {
	border: 1px solid rgba(0, 0, 0, 0.10);
	border-width: 1px 0 1px 0;
}

.wellness-accordion-box {
	padding-bottom: 14px;
}

.wellness-faq-accordion .wellness-accordion-box .wellness-accordion-title {
	padding: 30px 0 16px;
	cursor: pointer;
	gap: 30px;
}

.wellness-faq-accordion .wellness-accordion-box .text-wrap p {
	font-size: 14px;
	max-width: 97%;
	color: #26221B;
	line-height: normal;
}

/* .wellness-faq .row {
	display: flex;
	justify-content: space-between;
	column-gap: 120px;
} */

.wellness-accordion-box .panel {
	display: none;
	padding-bottom: 16px;
}

.wellness-accordion-box .wellness-accordion-title svg {
	transition: all .3s ease 0s;
	transform: rotate(45deg);
	width: 20px;
	height: 20px;
}

.wellness-accordion-box .wellness-accordion-title.active svg {
	transform: rotate(0deg);
}

/* .wellness-faq .row .col-left {
	width: 37.5%;
	max-width: 550px;
}

.wellness-faq .row .col-right {
	width: 62.5%;
} */

.section-boxes .box-items h5 {
	font-size: 16px;
	font-weight: 450;
	line-height: 150%;
	letter-spacing: 0;
	margin: 0;
	text-transform: uppercase;
}

/* 
.section-boxes .box-items:not(:last-child) {
	margin-bottom: 20px;
}
 */
.section-boxes .box-items {
	padding: 40px;
}

.wellness-faq-accordion .section-head h2 {
	letter-spacing: -0.8px;
	text-transform: uppercase;
	margin-top: 0;
}

/* new css start here  */
.wellness-faq .row {
	display: flex;
	flex-direction: column;
	row-gap: 150px;
}

.section-boxes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
}

.wellness-faq-accordion {
	display: flex;
	justify-content: space-between;
}

.wellness-accordion-box-outer {
	width: 100%;
	max-width: 660px;
}

/* new css end here */
/* 
@media only screen and (max-width: 1441px) {
	.wellness-faq .row .col-left {
		width: 45%;
		max-width: 550px;
	}

	.wellness-faq .row .col-right {
		width: 49.2%;
	}
} */

@media only screen and (max-width: 1024px) {
	.shopify-section.wellness-faq .page-width {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.wellness-faq .row {
		column-gap: 80px;
		row-gap: 80px;
	}

	.wellness-accordion-box-outer {
		width: 100%;
		max-width: 60%;
	}
}

@media only screen and (max-width:769px) {
	.wellness-faq-accordion .section-head h2 {
		font-size: 32px;
		font-weight: 500;
		margin-top: 0;
		margin-bottom: 40px;
	}

	.section-boxes {
		display: grid;
		grid-template-columns: 1fr;
		gap: 10px;
	}

	.wellness-accordion-box, .wellness-accordion-box .panel {
		padding-bottom: 8px;
	}
	.wellness-faq-accordion .wellness-accordion-box .wellness-accordion-title {
		padding: 24px 0 16px;
	} 

	.wellness-faq-accordion {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.wellness-accordion-box-outer,
	.wellness-faq-accordion .wellness-accordion-box .text-wrap p {
		max-width: 100%;
	}

	.section-boxes .box-items {
		padding: 20px;
	}

	/* .wellness-faq .row {
		flex-direction: column-reverse;
		row-gap: 60px;
	} */

	.wellness-accordion-title span {
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
		line-height: 150%;
	}

	.wellness-faq .row .col-right,
	.wellness-faq .row .col-left {
		width: 100%;
		max-width: 100%;
	}

	.section-boxes .box-items h5 {
		font-size: 14px;
		font-weight: 450;
		line-height: 150%;
		letter-spacing: 0.1px;
	}

	.section-boxes .box-items {
		display: flex;
		flex-direction: column;
		gap: 14px;
	}
}